@font-face {
    font-family:robo;
    src: url(font/Roboto-Regular.woff);
}

.board{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    border: 1px solid black;
}

.cell{
    border: 1px solid black;
    font-size: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: robo;
    margin: 2rem;
}

.turn{
    padding: 2rem;
}
